
*.xcuserstate

*.xcodeproj

*.xcscheme

iOS6/.DS_Store

Android/.classpath

Android/.project

*.prefs

Android/assets/.DS_Store

Android/assets/www/.DS_Store

*.properties

Android/assets/www/assets/js/lib/.DS_Store

Android/bin/.DS_Store

*.apk

*.dex

*.cache

*.ap_

Android/cordova/log

BB10/.DS_Store

BB10/assets/js/lib/.DS_Store

*.xcuserstate

*.xcbkptlist

*.pbxproj

iOS6/mobileFP.xcodeproj/project.xcworkspace/xcuserdata/ashotnavasardyan.xcuserdatad/UserInterfaceState.xcuserstate
