<li class="swipe-delete ${commited}" id="${id}">
    <a>
        <h3>${itemClass} - ${itemModel}</h3>
        <p>Item: ${itemNumber} Tag: ${assetTag}</p>
		<p>Status: ${status} [${branch}]</p>
    </a>
    <a href="#removeEquipment" class="removeEquipment" data-rel="${id}">Remove</a>
</li>