<a class="main-back-button" href="#" data-role="button" data-icon="back" data-iconpos="notext" data-theme="c" data-inline="true" data-rel="back">Back</a>
<h1>mobileFP</h1>
<a href="#" data-shadow="false" data-iconshadow="false" data-icon="app-logout" data-iconpos="notext" data-ajax="false" class="toolbar-logout ui-btn-right">Logout</a>
<div data-role="navbar" data-grid="d" class="nav-custom" role="navigation">
	<ul>
		<li><a href="#" data-ajax="false" data-theme="b" class="toolbar-item toolbar-home" data-rel="#home" data-icon="custom" title="Home"></a></li>
		<li><a href="#" data-ajax="false" data-theme="b" class="toolbar-item toolbar-scan" data-rel="#scan" data-icon="custom" title="Scan To"></a></li>
		<li><a href="#${$item.getPanelId()}" data-ajax="false" data-theme="b" class="toolbar-submenu" data-icon="custom" title="Menu"></a></li>
		<li><a href="#" data-ajax="false" data-theme="b" class="toolbar-item toolbar-search" data-rel="#jobList" data-icon="custom" title="Job List"></a></li>
		<li><a href="#" data-ajax="false" data-theme="b" class="toolbar-item toolbar-settings" data-rel="#settings" data-icon="custom" title="Settings"></a></li>
	</ul>
</div>