<li id="${ClaimIndx}">
    <a href="#">
        <h2>${ClaimNumber}</h2>
        <p><strong>${ProjectName}</strong></p>
        <p>${Address}</p>
        <p class="ui-li-aside"><strong>${DateJobOpen || ''}</strong></p>
    </a>
</li>