<li class="swipe-delete" id="${id}">
    <a href="#equipmentDetails">
        <h3>${itemClass} - ${itemModel}</h3>
        <p>Item: ${itemNumber}  Tag: ${assetTag}</p>
		<p>Status: ${status} [${branch}]</p>
    </a>
</li>