<p><strong>${itemClass} - ${itemModel}</strong></p>
<p>Asset Tag: <strong>${assetTag}</strong></p>
<p>Item: <strong>${itemNumber}</strong></p>
<p>Status: <strong>${status}</strong>{{html $item.getClaim()}}</p>
<p>Branch: <strong>${branch}</strong>{{html $item.getTransitBranch()}}</p>